[paths]
source =
    env\Lib\site-packages\pnio_dcp
    C:\GitLab-Runner\builds\*\*\shacks\python\*\tests\env\Lib\site-packages\pnio_dcp\
    /builds/shacks/python/*/tests/env/lib/python*/site-packages/pnio_dcp
